<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Manufacturer</div>
    <div>{{ object.getManufacturer() ? object.getManufacturer().getShortNameIfExist() : 'Unknown' }}</div>

    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    <div class="header-label">Last edited</div>
    <div>{{object.getLastEdited()|date("Y-m-d, H:i:s", "GMT") }} GMT</div>
    
    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin" style="display:flex;flex-wrap: nowrap;">
        <a class="button" href="./motherboards/motherboards/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
        <a class="button" href="{{ path("motherboard_show", {id: object.getId()}) }}">
            <img src="{{ absolute_url(asset('build/icons/search/search_image.svg')) }}" alt="" width="20">
            <span>View</span>
        </a>
        <a class="button" href="{{ path('motherboard_delete', {id: object.getId()}) }}">
            <img src="{{ absolute_url(asset('build/icons/delete.svg')) }}" alt="" width="20">
            <span>Del</span>
        </a>
    </div>
</div>	