/*image section*/
div.addform{
	box-shadow:inset -1px -1px $dark-color,inset 1px 1px $footer-link-color,inset -2px -2px $medium-color,inset 2px 2px $lightbg-color;
	background-color: $footer-link-color;
	padding:10px; 
	font-size:18px; 
	margin-top: 5px;
	color:$dark-color;
	@media (prefers-color-scheme: dark) {
		box-shadow:inset -1px -1px $medium-color,inset 1px 1px $accent-bkg-dark,inset -2px -2px $darkbg-color,inset 2px 2px $medium-color;
		background-color: $accent-bkg-dark;
		color:$light-color;
	}
}
img.imgp-img { max-height:170px;max-width: 100%; }
div.imgp {
	font-size:16px;
	padding-top:1px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	select {width:68%}
	input[type=text] {width:65%}
}

div.full-spec.edit{
    div div{padding:0;}
	div.full-spec-head{margin:5px 0px 5px;}
}
/*drivers, bios images, manuals*/
div.bios-image { 
	background-color: $lightbg-color;
	color: $dark-color;
	@media (prefers-color-scheme: dark) {
		background-color: #484848;
		color:$light-color;
	}
	padding: 0;
	font-size:16px;
 }
div.bios-image-head {
	background-color:$footer-link-color;
	color:$dark-color;
	@media (prefers-color-scheme: dark) {
		background-color: $btn-darkbg-color;
		color:$light-color;
	}
	width:100%;
	clear:left;
	padding-bottom:5px;
	text-align: center;
}
input.num{width:15px;}
/* notes section */
div.notes-field div { padding-bottom: 6px; padding-right: 4px; margin:auto }
div.notes-field label { display:none }
div.notes-field div textarea { width:99%; height:150px }
div.show-edit{
	width:40%;
	display:inline-block;
	vertical-align:top;
}
div.show-edit.b{
	width:59%;
}

div.old-cpu-table{
	display:grid;
	width: 100%;
	grid-template-columns:[first] 50% [second] 50% [end];
}
@media (max-width: 500px) {
	div.old-cpu-table{
		grid-template-columns:auto;
	}
}