div.show-nav {
	@include noselect();
	flex-grow: 1;
	display: flex;
	//align-items: end;
	flex-wrap: wrap;
	gap: 2px;

	input {
		display: none;
	}

	label {
		display: flex;
		align-items: center;
		padding: 8px 10px;
		height: 24px;
		cursor: pointer;
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;

		img {
			margin-right: 5px;
		}

		border-radius: 5px 5px 0px 0px;
		border: thin solid transparent;

		&:hover {
			transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
			color: $active-link-light;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}
	}

	label:hover,
	label[checked] {
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
		background: $container-bkg-light;
        border: thin solid $content-frg-light;
        border-bottom: thin solid $active-link-light;//background-color: $body-bkg-light;

        @media (prefers-color-scheme: dark) {
            background: $container-bkg-dark;
            border: thin solid $border-dark;
            border-bottom: thin solid $active-link-dark;
        }
	}
	a label{ // admin buttons
		color:$content-bkg-dark;
		@media (prefers-color-scheme: dark) {
			color:$content-bkg-light;
		}
	}
}


/* === logging stuf === */
table.results {
	border:1px solid $footer-link-color;
	border-collapse: collapse;
	border-radius: 0.2rem;
	tr td{ border-top:1px solid $footer-link-color;padding:3px;}
}
pre { padding: 5px; margin: 5px;color:black; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.log-collapsible {
	background-color: $btn-darkbg-color-hover;
	color: white;
	cursor: pointer;
	line-height: 4px;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.active, .log-collapsible:hover {
	background-color: $link-hover-color;
	color:black;
}
.log-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
} 
.active:after {
	content: "\2212";
	color:black;
}
.log-content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	width: 25vw;
	transition: max-height 0.15s ease-out;
	background-color: #f1f1f1;
}
/* === board statistics === */
dl {
	display: flex;
	background-color: $btn-lightbg-color;
	flex-direction: column;
	//width: 100%;
	max-width: 700px;
	position: relative;
	padding: 20px;
	dt {
		width: 100%;
		color:$dark-color;
		text-align: center;
		font-size: 1.2em;
		margin-bottom: 20px;
	  }
	dd.percentage {
		font-size: .8em;
		width: 75%;
		height: 40px;
		margin-left: 160px;
		background: repeating-linear-gradient(to right,#ddd,#ddd 1px,#fff 1px,#fff 5%);
		&:after {
			content: "";
			display: block;
			background-color: $link-hover-color1;
			height: 90%;
		}
	}
	@for $i from 1 through 100 {
	  dd.percentage-#{$i} {
		&:after {
		  $value: ($i * 1%);
		  width: $value;
		}
	  }
	}
	dd span.text {
		color:$dark-color;
		display: flex;
		align-items: center;
		height: 40px;
		width: 160px;
		background-color: $btn-lightbg-color;
		position: absolute;
		left: 0;
		justify-content: flex-end;
	}
} 
