<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{% set mod_date = 'now'|date('Y-m-d')  %}
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>1.00</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}motherboards/search/</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}bios/search/</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}bios/info/</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}bios/infoadv/</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}chipsets/search/</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>https://www.ultimateretro.net{{ path('app_homepage') }}login</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.50</priority>
    </url>
</urlset>