{% extends 'base.html.twig' %}

{% block title %}Manage {{entityDisplayNamePlural}}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'processing_units',
		'path':'processingunits', 
		'set':{'processor':'CPUs','coprocessor':'NPUs','platform':'CPU platforms','instructionset':'Instruction Sets'}
	} %}
{% endblock %}
