<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Manufacturer</div>
    <div>{{object.getManufacturer().getShortNameIfExist()}}</div>

    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    <div class="header-label">Core</div>
    <div>{{ object.getCore()|length > 0 ? object.getCore()}}</div>

    <div class="header-label">Speed</div>
    {% if object.getSpeed != object.getFsb() %}
        <div>{{ object.getSpeed().getValueWithUnit() }}/{{ object.getFsb().getValueWithUnit() }}</div>
    {% else %}
        <div>{{ object.getSpeed().getValueWithUnit() }}</div>
    {% endif %}

    <div class="header-label">Cache</div>
    <div>{{ object.getCachesWithValue()|length > 0 ? object.getCachesWithValue() }}</div>

    <div class="header-label">Other specs</div>
    <div class="tag-container">
        {% if object.getVoltagesWithValue()|length > 0 %}
            <span class="text-block">Voltage: {{ object.getVoltagesWithValue() }}</span>
        {% endif %}
        {% if object.getTdpWithValue()|length > 0 %}
            <span class="text-block">TDP: {{ object.getTdpWithValue()}}</span>
        {% endif %}
        {% if object.getProcessNodeWithValue()|length > 0 %}
            <span class="text-block">Process: {{ object.getProcessNodeWithValue()}}</span>
        {% endif %}
    </div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./processingunits/processors/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>