<div class="title">
	{{ entityDisplayNamePlural|capitalize }}
</div>

{% if path == "processingunits" %}
	{% set name = "processor" %}
{% else %}
	{% if entityName == "audiochip" %}
		{% set name = "audio_chip" %}
	{% elseif entityName == "videochip" %}
		{% set name = "video_chip" %}
	{% else %}
		{% set name = path|slice(0, path|length -1) %}
	{% endif %}
{% endif %}

{% if search is not empty %}
	{{ form_start(search, {'method': 'POST', 'name': search.vars.name }) }}
	<fieldset id="search-fieldset">
		<h3>Filters</h3>
		<section class="search-form-grid">
			{% for key, child in search %}
				{% if key != "_token" and key != "search" %}
					<div class="search-form-entry">
						<label class="search-form-label" for="search_name">
							<span>{{ key|capitalize }}</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(child) }}</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}			
		</section>
		<div class="toolbar">
			<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
				<img src="{{ absolute_url(asset('build/icons/search/reset.svg')) }}" alt="reset" width="24" height="24">
				<span>Reset fields</span>
			</button>
			<button type="button" onclick="document.getElementById('{{name}}_search_search').click();return false;">
				<img src="{{ absolute_url(asset('build/icons/search/search.svg')) }}" alt="search" width="24" height="24">
				<span>Search</span>
			</button>

			<input id="rst-btn" type="reset" value="reset" data-action="click->search#reset" data-reset-ids=''>
			{{ form_row(search.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
		</div>
	</fieldset>
	<div>{{ form_rest(search) }}</div>
{% endif %}

<div class="show-nav">
	<a href="{{ path('admin_index') }}">
		<label>		
			<img src="{{ absolute_url(asset('build/icons/back.svg')) }}" alt="back" width="24" height="24">
			Go back		
		</label>
	</a>
	{% for key, value in set %}
		<a href="{{ path('admin_manage_' ~ category, {entity:key})}}">
			<label {% if entityName == key %}checked{% endif %}>{{value}}</label>
		</a>
	{% endfor %}
	<a href="./{{path}}/{% if entityName == "osfamily" %}osfamilie{% else %}{{entityName}}{% endif %}s/add/">
		<label>
			<img src="{{ absolute_url(asset('build/icons/add.svg')) }}" alt="back" width="24" height="24">
			Add {{ entityDisplayName }}
		</label>
	</a>
	<div style="display:flex;align-items:center;" data-controller="show">
		<input type="checkbox" id="table-switch" value="Table view" style="display: block;width:1.5em;height:1.5em;" data-action='click->show#show_table'>
    	<span> Table view</span>
	</div>
</div>

<div style="padding: 10px 0;">
	{{ render(controller(controllerList, {criterias: criterias}, {page: page, entity: entityName})) }}
</div>
