{% extends 'base.html.twig' %}

{% block title %}Manage chipset part{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
	<div class="title">Chipset part editor</div>

	<!-- MANUF./NAME/PART NO. -->
	<section class="search-form-grid">
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Manufacturer</label>
				<div>{{ form_widget(form.chip.manufacturer)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Part Number</label>
				<div>{{ form_widget(form.chip.partNumber, {'attr': {'placeholder': 'Part Number ...'}}) }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Name</label>
				<div>{{ form_widget(form.chip.name, {'attr': {'placeholder': 'Name ...'}}) }}</div>
			</div>
		</div>
	</section>

	<div class="toolbar" data-controller="show">
		<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('chipset_part_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>		
	</div>
	<div class="main-strip">
		<div class="internal-container">
			{% include 'macros/navbar.html.twig' with {'type':'edit', 'entityName': 'chip', 'count':2} %}
			<div class="internal-content">
				<!-- Description -->
				<div class="show-general" id="sh-general">
					<!-- Rank -->
					<div class="quick-spec-table nopad">
						<div class="quick-spec-head">Rank</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.rank) }}</div>
						</div></div>
					</div>
					{{form_widget(form.description, {'attr': {'style': 'width:98%;height:600px;', 'placeholder': 'Describe the chipset (max. 8192 characters) ...'}}) }}
				</div>
				<div class="show-downloads" id="sh-downloads">
					<!-- CHIP ALIASES -->
					<div class="quick-spec-table nopad" data-controller="collection">
						<div class="quick-spec-head editor">Chip Aliases
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'chip.chipAliases'} %}</div>
						<div id="chip.chipAliases-fields-list" data-widget-counter="{{ form.chip.chipAliases|length }}" data-prototype="{{ form_widget(form.chip.chipAliases.vars.prototype, {'attr': {'style': 'display:inline-block;'}})|e }} 
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% if form.chip.chipAliases is not empty %}
								{% for alias in form.chip.chipAliases %}
									<div class="editor-row nopad">
										{{ form_widget(alias, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="">': '<option label=" " value="">'})|raw }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									</div>
									{{ form_errors(alias) }}
								{% endfor %}
							{% endif %}
							{{ form_errors(form.chip.chipAliases) }}
						</div>
					</div>
					<!-- DOCS -->
					<div data-controller="collection">
						<div style="padding-top:5px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="padding: 5px;">
							<b>Documentation: </b>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'documentations'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row manual">
								<div><b>Title</b></div>
								<div><b>Language</b></div>
								<div><b>File to upload</b></div>
								<div><b>Uploaded file</b></div>
							</div>
							<div id="documentations-fields-list" data-widget-counter="{{ form.documentations|length }}" data-prototype="
								<div>{{ form_widget(form.documentations.vars.prototype.link_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.documentations.vars.prototype.language, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.documentations.vars.prototype.manualFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.documentations.vars.prototype.file_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for documentation in form.documentations %}
								<div class="editor-row manual nopad">
									<div>{{ form_widget(documentation.link_name, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(documentation.language, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(documentation.manualFile, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(documentation.file_name, {'attr': {'style': 'width:100%'}}) }}</div>
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(documentation) }}
								</div>
							{% endfor %}
							{{ form_errors(form.documentations) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- IMAGES AND NAVBAR -->
		{% include 'macros/entityListImages.html.twig' with {'entityName':'chip.images', 'entities':form.chip.images, 'edit':true} %}
	</div>
	<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
