{% extends 'base.html.twig' %}

{% block title %}Manage {{ entityDisplayNamePlural }}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'miscs',
		'path':'miscs', 
		'set':{'manufacturer':'Manufacturers','issue':'Known issues','freq':'Frequencies','creditor':'Creditors'}
	} %}
{% endblock %}
