{% extends 'base.html.twig' %}

{% block title %}Manage users{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;">
	<b>Add a new user:</b>
    <a class="button" onclick="document.getElementById('form_add').click();" style="display:inline-block;">
		<img src="{{ absolute_url(asset('build/icons/add.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Add</a>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div style="margin:0 auto;display:table;">
	<img style="display:inline-block;" src="{{ absolute_url(asset('build/icons/admin/user.svg')) }}" width="128" alt="">
	<table style="display:inline-block;">
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
	</table>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.add) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}

{% endblock %}