{% extends 'base.html.twig' %}

{% block title %}Manage password
{% endblock %}

{% block body %}
<div class="title">
	<b>Change password</b>	
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div>	
	<section class="search-form-grid" style="max-width: 500px; margin: 0 auto">
		<img src="{{ absolute_url(asset('build/icons/admin/keys.svg')) }}" width="128" alt="" style="justify-self: center">
		<div class="search-form-entry">
			<label class="search-form-label" for="search_name">
				<span>Old password</span>
			</label>
			<div class="search-form-widget">
				<div>{{form_widget(form.old_password)}}</div>
			</div>
		</div>

		<div class="search-form-entry">
			<label class="search-form-label" for="search_name">
				<span>New password</span>
			</label>
			<div class="search-form-widget">
				<div>{{form_widget(form.new_password)}}</div>
			</div>
		</div>

		<div class="search-form-entry">
			<label class="search-form-label" for="search_name">
				<span>New password confirm</span>
			</label>
			<div class="search-form-widget">
				<div>{{form_widget(form.new_password_confirm)}}</div>
			</div>
		</div>
	</div>
	<div class="toolbar">
		<a class="button" onclick="document.getElementById('form_save').click();">
			<img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">
			<span>Save</span>
		</a>
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
