{% extends 'base.html.twig' %}

{% block title %}Manage resources{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;">
	<b>Manage users</b>
</div>
{{ form_start(userForm, {'method': 'POST'}) }}
<div style="margin:0 auto;display:table;">
	<img style="display:inline-block;" src="{{ absolute_url(asset('build/icons/admin/user.svg')) }}" width="128" alt="">
	<table style="display:inline-block;">
		<tr>
			<td>Select an user:&nbsp;</td>
			<td>{{ form_widget(userForm.users) }}</td>
		</tr>
        <tr>
			<td>Action:&nbsp;</td>
			<td>
                <a class="button" onclick="document.getElementById('manage_user_reset').click();" style="display:inline-block;">
		            <img src="{{ absolute_url(asset('build/icons/search/reset.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Reset</a>
                <a class="button" onclick="document.getElementById('manage_user_add').click();" style="display:inline-block;">
		            <img src="{{ absolute_url(asset('build/icons/add.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Add</a>
                <a class="button" onclick="if(confirm('Are you sure you want to delete this user?'))document.getElementById('manage_user_delete').click();" style="display:inline-block;">
		            <img src="{{ absolute_url(asset('build/icons/delete.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Delete</a>
            </td>
		</tr>
        <tr>
            <td colspan="2">{{ message }}</td>
        </tr>
	</table>
</div>
<div id="hiddenDiv" style="display: none;">{{ form_widget(userForm.reset) }}{{ form_widget(userForm.add) }}{{ form_widget(userForm.delete) }}{{ form_end(userForm)|replace({'</form>': '</div></form>'})|raw }}

{% endblock %}