{% extends 'base.html.twig' %}

{% block title %}Manage instruction sets{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;display:flex;justify-content:center;align-items:center;">
	<b>Edit:&nbsp;Instruction set&nbsp;&nbsp;</b>
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('instruction_set_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div style="width:100%;">
	<div style="display:table;margin:0 auto;">
		<span>{{form_label(form.name)}}</span>
		<span>{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</span>
	</div>
	<div style="display:table;margin:0 auto;text-align:center;">
		<p>Compatible with instruction sets:</p>
		{% include 'macros/entityList.html.twig' with {'entityName':'compatibleWith', 'entityDisplayName': 'instruction set', 'entities':form.compatibleWith} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save)}}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
<div style="clear:left;"></div>
{% endblock %}
