{% extends 'base.html.twig' %}

{% block title %}Manage CPUs{% endblock %}

{% block body %}

<form data-controller="cpu--add" name="processor_form" method="post" enctype="multipart/form-data">
<div class="title" style="padding-top:5em;display:flex;justify-content:center;align-items:center;">
	<b>Edit:&nbsp;CPU&nbsp;&nbsp;</b>
	<div class="toolbar" data-controller="show">
		<button type="button" name="tabs" id="tab-nav-save" data-action="click->cpu--add#submit"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
		<button type="button" name="tabs" id="tab-nav-clone" data-action="click->cpu--add#clone"><img src="{{ absolute_url(asset('build/icons/clone.svg')) }}" alt="" width="24" height="24"><span>Clone</span></button>	
	</div>
</div>
<div class="main-strip">
	<div class="internal-container">
		<table>
		<tr>
			<td>{{form_label(form.processingUnit.chip.manufacturer)}}</td>
			<td>{{form_widget(form.processingUnit.chip.manufacturer, {'attr': {'style': 'width:90%'}})}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.name)}}</td>
			<td>{{form_widget(form.processingUnit.chip.name)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.core)}}</td>
			<td>{{form_widget(form.core)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.processingUnit.chip.partNumber)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.speed)}}</td>
			<td>{{form_widget(form.processingUnit.speed)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.fsb)}}</td>
			<td>{{form_widget(form.processingUnit.fsb)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.platform)}}</td>
			<td>{{form_widget(form.processingUnit.platform)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.voltages)}}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'voltages', 'entityDisplayName': 'voltage', 'entities':form.voltages} %}</td>
		</tr>
		<tr>
			<td>{{form_label(form.tdp)}}</td>
			<td>{{form_widget(form.tdp)}}&nbsp;W</td>
		</tr>
		<tr>
			<td>{{form_label(form.processNode)}}</td>
			<td>{{form_widget(form.processNode)}}&nbsp;nm</td>
		</tr>
		<tr>
			<td>{{form_label(form.L1)}}</td>
			<td>{{form_widget(form.L1)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.L2)}}</td>
			<td>{{form_widget(form.L2)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.L3)}}</td>
			<td>{{form_widget(form.L3)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.L1CacheMethod)}}</td>
			<td>{{form_widget(form.L1CacheMethod)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.L2CacheRatio)}}</td>
			<td>{{form_widget(form.L2CacheRatio)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.L3CacheRatio)}}</td>
			<td>{{form_widget(form.L3CacheRatio)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.chipAliases)}}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.chip.chipAliases', 'entityDisplayName': 'chip alias', 'entities':form.processingUnit.chip.chipAliases} %}</td>
		</tr>
		<tr>
			<td>Instruction sets:</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.instructionSets', 'entityDisplayName': 'instruction set', 'entities':form.processingUnit.instructionSets} %}</td>
		</tr>
		<tr>
			<td>Sockets:</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.sockets', 'entityDisplayName': 'socket', 'entities':form.processingUnit.sockets} %}</td>
		</tr>
		</table>
	</div>
	{% include 'macros/entityListImages.html.twig' with {'entityName':'processingUnit.chip.images', 'entities':form.processingUnit.chip.images} %}
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save)}}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
<div style="clear:left;"></div>
{% endblock %}
