{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div class="title">Dashboard
	<a class="button" href="{{ path('app_homepage') }}" style="display:inline-block;">
		<img src="{{ absolute_url(asset('build/icons/back.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Go back</a></div>
	<div class="index-buttons">
		<a href="{{ path('admin_manage_motherboards') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/board.svg')) }}" alt="board">
			<div>Motherboards</div>
		</a>
		<a href="{{ path('admin_manage_processing_units') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/486dx.svg')) }}" alt="cpu">
			<div>Processing units</div>
		</a>
		<a href="{{ path('admin_manage_memories') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/ram.svg')) }}" alt="memory">
			<div>Memory</div>
		</a>
		<a href="{{ path('admin_manage_chipsets') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/chip.svg')) }}" alt="chipset">
			<div>Chipsets</div>
		</a>
		<a href="{{ path('admin_manage_expansion_chipsets') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/exp.svg')) }}" alt="a/v chip">
			<div>Audio/Video chips</div>
		</a>
		<a href="{{ path('admin_manage_connectors') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/connector.svg')) }}" alt="connector">
			<div>Connectors</div>
		</a>
		<a href="{{ path('admin_manage_files') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/file.svg')) }}" alt="file">
			<div>Files</div>
		</a>
		<a href="{{ path('admin_manage_miscs') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/misc.svg')) }}" alt="misc">
			<div>Other fields</div>
		</a>
		<a href="{{ path('admin_user_settings') }}">
			<img src="{{ absolute_url(asset('build/icons/admin/user.svg')) }}" alt="">
			<div>User settings</div>
		</a>
	</div>

	<div class="title"><h4>Under construction</h4></div>
	<div class="index-buttons">
		<a href="{{ path('admin_stats') }}">
			<img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="">
			<div>Board stats</div>
		</a>
		<a href="{{ path('admin_logs') }}">
			<img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="">
			<div>Logs</div>
		</a>
		<a href="{{ path('admin_guidelines') }}">
			<img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="">
			<div>(NEW) Guidelines</div>
		</a>
	</div>
{% endblock %}
