{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
	<div class="title">
		<b>Statistics</b>
	</div>
	<p><b>Board count: {{moboCount}}</b></p>
	<dl>
		<dt>Top 15 board manufacturers:</dt>
		{% for name, count in manufBoardCount %}
			{% if loop.index < 16 %}
				{% if loop.first %}
					{% set ref = count %}
				{% endif %}
				<dd class="percentage percentage-{{ (count / ref * 100)|force_to_int }}">
					<span class="text">
						{{ name }}: {{ count }}
					</span>
				</dd>
			{% endif %}
		{% endfor %}
	</dl>
	other stuff coming soon.
{% endblock %}
