{% macro header() %}
	<div><b>Language</b></div>
	<div><b>Media type</b></div>
	<div><b>OS Compatibility</b></div>
	<div><b>Name</b></div>
	<div><b>Version</b></div>
{% endmacro %}

{% macro link(file) %}
	<div>{% for lang in file.getLanguages() %}
		<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" alt="{{lang.getOriginalName()}}" title="{{lang.getOriginalName()}}" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
	{% endfor %}</div>
	<div>{% for relation in file.getMediaTypeFlags() %}
		<b style="vertical-align:super;">{{relation.getCount()}}x</b>
		<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="{{relation.getMediaTypeFlag().getName()}}" title="{{relation.getMediaTypeFlag().getName()}}" width="32">
	{% endfor %}</div>
	<div>{% set prevIcon = "" %}{% set prevIcon2 = "" %}{% for relation in file.getOsFlags() %}
			{% if prevIcon != (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
				{% set prevIcon2 = (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
				<span style="display:inline-block;"><img src="{{ vich_uploader_asset((relation.getOsFlag().getOsFamilies()|sort)[0], 'osIcon')}}" alt="{{(relation.getOsFlag().getOsFamilies()|sort)[0].getName()}}" title="{% for rel in file.getOsFlags() %}{% if prevIcon2 == (rel.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}{{ rel.getOsFlag().getName()}}{% if not loop.last %},{% endif %} {% endif %}{% endfor %}" width="16">
					{{relation.getOsFlag().getName()}}{{ relation.getUnsure() ? ' ?'}}</span>
				{% endif %}
				{% set prevIcon = (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
	{% endfor %}</div>
	<div><a href="{{ path("driver_show", {id: file.getId()}) }}">{{file.getName()}}</a>
	</div>
	<div><a href="{{ vich_uploader_asset(file, 'file')}}">
			<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">
			{{ file.getFileVersion() ? file.getFileVersion() : 'Unknown' }}
		</a>
	</div>
{% endmacro %}
