{% apply spaceless %}
{% if entityName != "drv" %}
<div class="show-nav" id="sh-nav" data-controller="show">
    <input type="radio" name="tabs" id="tab-nav-1" checked data-action='click->show#show_general'>
    <label for="tab-nav-1"><img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="" width="24" height="24">Description</label>
    <input type="radio" name="tabs" id="tab-nav-2" data-action='click->show#show_downloads'>
    <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="24" height="24">Downloads</label>
    {% if count > 2 %}
    <input type="radio" name="tabs" id="tab-nav-3" data-action='click->show#show_cpus'>
    <label for="tab-nav-3"><img src="{{ absolute_url(asset('build/icons/show/cpu.svg')) }}" alt="" width="24" height="24">CPUs</label>
    {% endif %}
    {% if entityName == "motherboard" %}
        {% set name = entityName|slice(6, 5) %}
    {% else %}
        {% set name = entityName %}
    {% endif %}
    {% if type == "show" and is_granted('ROLE_USER') %}
        <input type="radio" name="tabs0" id="tab-nav-0" data-action='click->show#goToURL' data-URL="{{ path('new_' ~ entityName ~ '_edit', {id: entity.getId()}) }}">
        <label for="tab-nav-0"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24">Edit {{name}}</label>
    {% endif %}    
</div>
{% else %}
<div class="show-nav" id="sh-nav" data-controller="show">
    <input type="radio" name="tabs" id="tab-nav-1" checked data-action='click->show#show_general'>
    <label for="tab-nav-1"><img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="" width="24" height="24">General</label>
    <input type="radio" name="tabs" id="tab-nav-2" data-action='click->show#show_downloads'>
    <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="" width="24" height="24">Description</label> 
</div>{% endif %}{% endapply %}