/* Main navbar */
header {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 14pt;
	width: 100%;
	font-family: $header-font;
	//padding: 8px 0;
	z-index: 1;
	box-shadow: 0px 3px 3px $shadow-light;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px 3px 3px $shadow-dark;
	}

	@media (max-width: 500px) {
		font-size: 12pt;
		padding: 5px 0;
	}

	div {
		width: 100%;
		margin: auto;
		max-width: $wide-max-width;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		nav {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-size: 15pt;
			padding: 7px;
			justify-content: center;

			&.navbar-logo {
				font-weight: bold;
				font-size: 18pt;
				padding: 0px 15px;
				flex-grow: 1;
				justify-content: start;
			}

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: $head-frg-light;
				transition: ease-in-out $anim-duration color;
				padding: 5px 2px;

				@media (prefers-color-scheme: dark) {
					color: $head-frg-dark;
				}

				&:hover {
					color: $active-link-light;
					transition: ease-in-out $anim-duration color;

					@media (prefers-color-scheme: dark) {
						color: $active-link-dark;
					}
				}

				span {
					padding: 0px 8px;
				}

				img {
					padding: 0px 4px;
				}
			}
		}
	}
}

/* Footer */
footer {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 11pt;
	width: 100%;
	//padding: 8px 0;
	z-index: 1;
	box-shadow: 0px -3px 3px $shadow-light;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px -3px 3px $shadow-dark;
	}

	div {
		width: 85%;
		margin: auto;
		max-width: $thin-max-width;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		div.footer-info { padding-bottom:10px; }
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $head-frg-light;
			transition: ease-in-out $anim-duration color;
			padding: 0px 10px;
			height: 40px;

			@media (prefers-color-scheme: dark) {
				color: $head-frg-dark;
			}

			&:hover {
				color: $active-link-light;
				transition: ease-in-out $anim-duration color;

				@media (prefers-color-scheme: dark) {
					color: $active-link-dark;
				}
			}

			span {
				padding: 0px 8px;
			}

			img {
				padding: 0px 3px;
			}
		}

		div {
			min-height: 30px;
		}
	}
}

/* page content */
p,
ul {
	margin-top: 14px;
	margin-bottom: 14px;
}

img {
	border: 0;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: $body-bkg-light;
	color: $body-frg-light;
	font-size: 11pt;

	@media (prefers-color-scheme: dark) {
		background-color: $body-bkg-dark;
		color: $body-frg-dark;
	}

	div.page {
		text-align: left;
		margin: 0 auto;
		width: 96%;
		padding-bottom: 15px;
		padding-top: 10px;
		max-width: $max-width;
	}

	div.title {
		text-align: center;
		font-size: 24px;
		padding: 20px;
		font-family: $header-font;
		font-weight: bold;
	}

	a {
		color: $normal-link-light;
		transition: ease-in-out $anim-duration color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $normal-link-dark;
		}
	}

	//a:link,
	a:visited {
		color: $visited-link-light;
		transition: ease-in-out $anim-duration color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $visited-link-dark;
		}
	}

	a:hover {
		color: $active-link-light;
		transition: ease-in-out $anim-duration color;

		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
		}
	}

	input,
	button,
	select,
	a.button,
	text-area {
		font-family: $standard-font;
		font-size: 11pt;
		transition: ease-in-out $anim-duration box-shadow;
		padding: 5px;
		border: solid thin $border-light;
		border-radius: 5px;
		background: $accent-bkg-light;
		color: $accent-frg-light;

		&:hover,
		&:active {
			transition: ease-in-out $anim-duration box-shadow;
			box-shadow: 0px 0px 2px $shadow-light;
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}

	text-area {
		font-family: $monospace-font;
	}

	button,
	a.button {
		display: flex;
		align-items: center;
		transition: ease-in-out $anim-duration color;
		//color: $normal-link-light;
		margin: 5px;

		&:hover {
			color: $active-link-light;
			transition: ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		span {
			padding: 0px 6px;
		}

		img {
			padding: 0px 6px;
		}
	}
}

a.button-widget {
    font-size:11pt;
    border: 1px solid $border-light;
	border-radius:4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    display: -moz-inline-box; 
    display: inline-block; 
    padding: 3px;
    margin-top:2px;
	background: $body-bkg-light;
	color: $accent-frg-light;
	transition: ease-in-out $anim-duration color;
	@media (prefers-color-scheme: dark) {
		background: $accent-bkg-dark;
		color: $accent-frg-dark;
		border-color: $border-dark;
	}
	&:visited{
		color: $accent-frg-light;
		@media (prefers-color-scheme: dark) {
			color: $accent-frg-dark;
		}
	}
	&:hover {
		color: $active-link-light;
		transition: ease-in-out $anim-duration color;
		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
			}
	}
    @include noselect();
    img { padding-right:5px;vertical-align: middle; }
}
.monospace {
	font-family: $monospace-font;
}


/* webkit scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
	transition: ease-in-out $anim-duration background-color;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	transition: ease-in-out $anim-duration background-color;
}

