{% extends 'base.html.twig' %}

{% block title %}Manage large files{% endblock %}

{% block body %}
<div class="title" style="display:flex;justify-content:center;align-items:center;">
	<b>Driver editor&nbsp;&nbsp;</b>
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('large_file_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
{{ form_start(form, {'method': 'POST', 'attr':{'data-controller':'largefile--add'}}) }}
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'type':'edit', 'entityName': 'drv', 'count':2} %}
		<div class="internal-content">
			<!-- Description -->
			<div class="show-general" id="sh-general">
				<div class="show-edit">
					<progress hidden="true" id="progressBar"></progress>
					<table>
						<tr id="messageRow" hidden="true">
							<td>
								<label for="message">Message</label>
							</td>
							<td>
								<span id="message">{{ form_errors(form.file) }}</span>
							</td>
						</tr>
						<tr>
							<td>{{form_label(form.name)}}</td>
							<td>{{form_widget(form.name)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.fileVersion)}}</td>
							<td>{{form_widget(form.fileVersion)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.file_name)}}</td>
							<td>{{form_widget(form.file_name)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.file)}}</td>
							<td>{{form_widget(form.file)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.subdirectory)}}</td>
							<td>{{form_widget(form.subdirectory)|replace({'<option value="drivers">': '<option selected="selected" value="drivers">'})|raw }}</td>
						</tr>
						<tr>
							<td>{{form_label(form.dumpQualityFlag)}}</td>
							<td>{{form_widget(form.dumpQualityFlag)|replace({'<option value="5">': '<option selected="selected" value="5">'})|raw }}</td>
						</tr>
						<tr>
							<td>{{form_label(form.hasActivationKey)}}</td>
							<td>{{form_widget(form.hasActivationKey)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.hasCopyProtection)}}</td>
							<td>{{form_widget(form.hasCopyProtection)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.releaseDate)}}</td>
							<td>{{form_widget(form.releaseDate)}}</td>
						</tr>
						<tr>
							<td>{{form_label(form.datePrecision)}}</td>
							<td>{{form_widget(form.datePrecision)}}</td>
						</tr>
						<tr>
							<td>Languages</td>
							<td>
								<div>
									{% include 'macros/entityList.html.twig' with {'entityName':'languages', 'entityDisplayName': 'language', 'entities':form.languages} %}
								</div>
							</td>
						</tr>
						<tr>
							<td>Media type flags</td>
							<td>
								<div>
									{% include 'macros/entityList.html.twig' with {'entityName':'mediaTypeFlags', 'entityDisplayName': 'media type flag', 'entities':form.mediaTypeFlags} %}
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="show-edit b">
					<table>
						<tr>
							<td>OS flags</td>
							<td>
								<div>
									{% include 'macros/entityList.html.twig' with {'entityName':'osFlags', 'entityDisplayName': 'os flag', 'entities':form.osFlags} %}
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="show-downloads" id="sh-downloads">
				{{form_widget(form.note, {'attr': {'style': 'width:98%;height:600px;', 'placeholder': 'Describe the driver (max. 2048 characters) ...'}}) }}
			</div>
		</div>
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save, {'attr':{'data-action':'click->largefile--add#submit_try'}})}}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
<div style="clear:left;"></div>
{% endblock %}
