{% extends 'base.html.twig' %}

{% block title %}Delete motherboard - TRW{% endblock %}

{% block body %}
<div class="title">Delete</div>
<div style="display:table;margin:0 auto;padding-top:25px;">
	<b>Successfully deleted motherboard with ID: {{id}}</b>
</div>
{% endblock %}