{% extends 'base.html.twig' %}

{% block title %}Manage creditorss{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;display:flex;justify-content:center;align-items:center;">
	<b>Edit:&nbsp;Creditor&nbsp;&nbsp;</b>
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('creditor_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div style="margin:0 auto;display:table;">
	<table>
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.website)}}</td>
			<td>{{form_widget(form.website, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
	</table>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}