{% extends 'base.html.twig' %}

{% block title %}Manage manufacturers{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;display:flex;justify-content:center;align-items:center;">
	<b>Edit:&nbsp;Manufacturer&nbsp;&nbsp;</b>
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('manufacturer_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div style="width:100%;">
	<table style="display:table;margin:0 auto;">
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.shortName)}}</td>
			<td>{{form_widget(form.shortName, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
	</table>
	<div style="display:table;margin:0 auto;text-align:center;">
		<p>BIOS codes:</p>
		{% include 'macros/entityList.html.twig' with {'entityName':'biosCodes', 'entityDisplayName': 'BIOS code', 'entities':form.biosCodes} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
