{% extends 'base.html.twig' %}

{% block title %}Manage {{ entityDisplayNamePlural }}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'expansion_chipsets',
		'path':'expansionchipsets', 
		'set':{'audiochip':'Audio chips','videochip':'Video chips'}
	} %}
{% endblock %}
