{% extends 'base.html.twig' %}

{% block title %}BIOS Info{% endblock %}

{% block metatags %}
	<meta name="description" content="BIOS info(AMI/Award manufacturer codes), Award chipset IDs">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('bios_info')) }}"/>
{% endblock %}

{% block body %}
	<div class="title">
		<b>Where can I find the POST string?</b>
	</div>
	<p>In general, the POST string is located in the bottom left side of the boot screen 
				(for BIOSes which provide it). Depending on the BIOS vendor, the POST string may
				provide various info about the board (like chipset or date). Here is a list of common 
				vendors and their string meanings:</p>
	<br>
	<div class="biosinfo">
		<p>
			<b>1. Award BIOS</b>
		</p>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/awardbios.jpg')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/awardbios.jpg')) }}" alt="awardbios" title=""></a>
			</span>
		</span>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/awardstring.jpg')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/awardstring.jpg')) }}" alt="awardbiosinfo" title=""></a>
			</span>
		</span>
		<br>
		<p>
			<b>2. AMI BIOS</b>
		</p>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/amibios.jpg')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/amibios.jpg')) }}" alt="amibios" title=""></a>
			</span>
		</span>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/amistring.jpg')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/amistring.jpg')) }}" alt="amibiosinfo" title=""></a>
			</span>
		</span>
		<br>
		<p>
			<b>3. Acer BIOS</b>
		</p>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/acerbios.jpg')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/acerbios.jpg')) }}" alt="acerbios" title=""></a>
			</span>
		</span>
		<span class="image-block">
			<span>
				<a href="{{ absolute_url(asset('build/images/bios/acerstring.png')) }}" class="glightbox">
					<img src="{{ absolute_url(asset('build/images/bios/acerstring.png')) }}" alt="amibiosinfo" title=""></a>
			</span>
		</span>
	</div>
	<br>
{% endblock %}
