{% extends 'base.html.twig' %}

{% block title %}Advanced BIOS Info{% endblock %}

{% block metatags %}
	<meta name="description" content="Advanced BIOS info(AMI/Award manufacturer codes), Award chipset IDs">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('bios_infoadv')) }}"/>
{% endblock %}

{% block body %}
	<div class="title">Where can I find the POST string?</div>
	{% for manufacturer, codes in biosCodes %}
	<div class="grid-list">
		<p><b>{{manufacturer}} BIOS manufacturer IDs</b></p>
		<ul>
			{% for code in codes %}
				<li>
					{{ code[1] }}:
					{{ code[0] }}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	{% for manufacturer, codes in chipCodes %}
	<div class="grid-list2">
		<p><b>{{manufacturer}} chipset IDs</b></p>
		<ul>
			{% for code in codes %}
				<li>
					{{ code[1] }}:
					{{ code[0] }}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
{% endblock %}
