{% extends 'base.html.twig' %}

{% block title %}Search results (BIOS) - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.">
{% endblock %}

{% block body %}
	<div class="title">
		<b>Search results</b>
	</div>
	{% if postStringAnalysis %}
		<div>
		<p>
			<i>Couldn't find any exact POST string match, the results you see are generated using POST string analysis.</i>
		</p>
		</div>
	{% endif %}
	<p style="text-align:center;padding-top:10px;">
		<i>{{ bios_count > 0 ? bios_count : 'No' }}{{ bios_count == 1 ? ' result' : ' results' }}</i>
	</p>
	{% if bios is not empty %}
	<div class="results lst">
		{{ knp_pagination_render(bios, 'macros/pagination.html.twig') }}
		<div class="plain-list w300p table">
			<div class="list-entry centered head" style="font-style:italic;">
				<div>Motherboard</div>
				<div>POST string</div>
				<div>Type</div>
				<div>File</div>
			</div>
			{% for b in bios %}
			<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
				<div class="header-label">Motherboard</div>
				<div>
					<a class="result-link" href="{{ path("motherboard_show", {id: b.getMotherboard().getId()}) }}">
						{{ b.getMotherboard().getManufacturerShortNameIfExist() }}&nbsp;{{ b.getMotherboard().name }}
					</a>
				</div>

				<div class="header-label">POST string</div>
				<div class="monospace">{{ b.getPostString() }}</div>

				<div class="header-label">Type</div>
				<div>{{ b.getManufacturer().getShortNameIfExist() }} {{ b.getCoreVersion() }}</div>

				<div class="header-label">File</div>
				<div>
					{% if b.getFileName() is not null %}
						<a class="combo" href="{{ vich_uploader_asset(b, 'romFile') }}">
							<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
							<span>
								{% if b.getBoardVersion() is not null %}
									{{ b.getBoardVersion() }}
								{% else %}
									???
								{% endif %}
							</span>
						</a>
					{% else %}
						{{ b.getBoardVersion() }}
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(bios, 'macros/pagination.html.twig') }}
	</div>
	{% endif %}
{% endblock %}

