{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}Search for a BIOS - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('bios_search')) }}"/>
{% endblock %}

{% block body %}
	
	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("bios_search"), 'attr':{'data-controller':'search'}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for a BIOS</div>
		<section>
			<div class="toolbar">
				<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/reset.svg')) }}" alt="reset" width="24" height="24">
					<span>Reset fields</span>
				</button>
				<button type="button" onclick="document.getElementById('search_search').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/search.svg')) }}" alt="search" width="24" height="24">
					<span>Search</span>
				</button>
				<input id="rst-btn" type="reset" value="reset" data-action="click->search#reset" data-reset-ids="search_chipsetManufacturer">
				{{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
			</div>
		</section>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_manufacturer" title="This is the BIOS manufacturer (e.g: AMI, Award, Phoenix)"
				>
					<span>Manufacturer</span>
					<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</div>
				</div>
			</div>

			<div class="search-form-entry">
				<label class="search-form-label" for="search_chipset" title="Select a manufacturer from the first field, then pick the part number from the second field"
				>
					<span>Chipset</span>
					<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div id="setchip1">{{ form_widget(form.chipsetManufacturer, {'attr': {'data-action': "change->search#search", 'data-target-id': 'search_chipset', 'aria-label': "Chipset manufacturer"}}) }}</div>
					<div>{{ form_widget(form.chipset) }}</div>
				</div>
			</div>

			<div class="search-form-entry">
				<label class="search-form-label" for="search_post_string">
					<span>POST string</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.post_string) }}</div>
				</div>
			</div>

			<div class="search-form-entry">
				<label class="search-form-label" for="search_core_version" title="This is the version of the BIOS's core (e.g. 4.51pg)">
					<span>Core version</span>
					<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.core_version, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
				</div>
			</div>

			<div class="search-form-entry">
				<label class="search-form-label file" title="If checked, only BIOS entries with files attached will be shown">
					<span>Show results with files</span>
					<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<label class="search-form-widget">
					{{ form_widget(form.file_present, {'attr': {'style': 'width:25px;height:25px'}}) }}
					<span class="slider"></span>
				</label>
			</div>
		</section>
	</fieldset>
	<br><div style="margin:12px;">
		<div><i>Other actions:</i></div>
		<a class='button-widget' href="{{path("bios_infoadv")}}">
			<img src='{{ absolute_url(asset('build/icons/search/search.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See the list of BIOS chipset and manufacturer IDs</a>
		<a class='button-widget' href="{{path("bios_info")}}">
			<img src='{{ absolute_url(asset('build/icons/admin/misc.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>Where can I find the POST string?</a>
	</div>
	<div>{{ form_rest(form) }}</div>

</form>{% endblock %}
