{% extends 'base.html.twig' %}

{% block title %}Add/Edit motherboard{% endblock %}

{% block body %}
<form data-controller="motherboard--add" name="add_motherboard" method="post" enctype="multipart/form-data" data-action="submit->motherboard--add#check">
	<div class="title">Motherboard editor</div>

	<!-- MANUF/TITLE -->
	<section class="search-form-grid">
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Manufacturer</label>
				<div>{{ form_widget(form.manufacturer)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Name</label>
				<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name ...'}}) }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Slug</label>
				<div>{{ form_widget(form.slug, {'attr': {'placeholder': 'Slug ...'}}) }}</div>
			</div>
		</div>
	</section>

	<div class="toolbar" data-controller="show">
		<button type="button" name="tabs" id="tab-nav-save" data-action="click->motherboard--add#submit"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
		{% if is_granted('ROLE_ADMIN') and moboid is not null %}
			<button type="button" name="tabs0" id="tab-nav-del" data-action='click->show#goToDelete'><img src="{{ absolute_url(asset('build/icons/delete.svg')) }}" alt="" width="24" height="24"><span>Delete</span></button>
			<button type="button" name="tabs" id="tab-nav-clone" data-action="click->motherboard--add#clone"><img src="{{ absolute_url(asset('build/icons/clone.svg')) }}" alt="" width="24" height="24"><span>Clone</span></button>
		{% endif %}
		<button type="button" name="tabs" id="tab-nav-getslug" data-action="click->motherboard--add#getslug"><img src="{{ absolute_url(asset('build/icons/clone.svg')) }}" alt="" width="24" height="24"><span>Get slug</span></button>		
	</div>
	<div class="main-strip">
		<div class="internal-container">
			{% include 'macros/navbar.html.twig' with {'type':'edit', 'entityName': 'motherboard', 'count':3, 'moboid':moboid} %}
			<!-- GENERAL -->
			<div class="internal-content">
				<div class="show-general" id="sh-general">
					<!-- Aliases -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor editor"><div>Alternative names</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardAliases'} %}</div>
						<div class="append_table" id="motherboardAliases-fields-list" data-widget-counter="{{ form.motherboardAliases|length }}"
							data-prototype="
								{{ form_widget(form.motherboardAliases.vars.prototype.manufacturer)|replace({'</select>': '<option value="EMPTY" disabled selected hidden>Select manufacturer</option></select>'})|raw|e }}
								{{ form_widget(form.motherboardAliases.vars.prototype.name, {'attr': {'placeholder': 'Name'}} )|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for alias in form.motherboardAliases %}
								<div class="editor-row nopad">
									{{ form_widget(alias.manufacturer)|replace({'<option value="">': '<option label=" " value="">'})|raw }}
									{{ form_widget(alias.name) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(alias) }}
								</div>
							{% endfor %}
							{{ form_errors(form.motherboardAliases) }}
						</div>
					</div>
					<hr><!-- Redirections -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>Redirections</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'redirections'} %}</div>
						<div class="append_table" id="redirections-fields-list" data-widget-counter="{{ form.redirections|length }}"
							data-prototype="
								{{ form_widget(form.redirections.vars.prototype.source, {'attr': {'placeholder': 'Source identifier'}})|e }}
								{{ form_widget(form.redirections.vars.prototype.sourceType)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for redirection in form.redirections %}
								<div class="editor-row nopad">
									{{ form_widget(redirection.source) }}
									{{ form_widget(redirection.sourceType) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(redirection) }}
								</div>
							{% endfor %}
							{{ form_errors(form.redirections) }}
						</div>
					</div>
					<hr><!-- PSU connectors -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>PSU connectors</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'psuConnectors'} %}</div>
						<div class="append_table" id="psuConnectors-fields-list" data-widget-counter="{{ form.psuConnectors|length }}"
							data-prototype="
								{{ form_widget(form.psuConnectors.vars.prototype)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for psuconn in form.psuConnectors %}
								<div class="editor-row nopad">
									{{ form_widget(psuconn) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(psuconn) }}
								</div>
							{% endfor %}
							{{ form_errors(form.psuConnectors) }}
						</div>
					</div>
					<hr><!-- Form factor -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Form factor</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.formFactor)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Chipset -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Chipset</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.chipset)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Dimensions -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Dimensions</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.dimensions) }}</div>
						</div></div>
					</div><!-- Video Chipset -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Video chipset</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.videoChipset)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Max video RAM -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Max video RAM</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.maxVideoRam)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Audio Chipset -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Audio chipset</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.audioChipset)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Max system RAM -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>Max system RAM</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardMaxRams'} %}</div>
						<div class="append_table" id="motherboardMaxRams-fields-list" data-controller="collection" data-widget-counter="{{ form.motherboardMaxRams|length }}" data-prototype="
								{{ form_widget(form.motherboardMaxRams.vars.prototype.max_ram)|e }}
								{{ form_widget(form.motherboardMaxRams.vars.prototype.note)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for maxRam in form.motherboardMaxRams %}
								<div class="editor-row nopad">
									{{ form_widget(maxRam.max_ram) }}
									{{ form_widget(maxRam.note) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(maxRam) }}
								</div>
							{% endfor %}
							{{ form_errors(form.motherboardMaxRams) }}
						</div>
					</div>
					<hr><!-- Cache -->					
					<div class="quick-spec-table nopad" data-controller="collection">
						<div class="quick-spec-head editor"><div>Cache</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cacheSize'} %}</div>
						<div class="append_table" id="cacheSize-fields-list" data-controller="collection" data-widget-counter="{{ form.cacheSize|length }}" data-prototype="
								{{ form_widget(form.cacheSize.vars.prototype)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for size in form.cacheSize %}
								<div class="editor-row nopad">
									{{ form_widget(size) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(size) }}
								</div>
							{% endfor %}
							{{ form_errors(form.cacheSize) }}
						</div>
					</div>
					<hr><!-- Supported RAM types -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>Supported RAM types:</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'dramType'} %}</div>
						<div class="append_table" id="dramType-fields-list" data-controller="collection" data-widget-counter="{{ form.dramType|length }}" data-prototype="
								{{ form_widget(form.dramType.vars.prototype)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">

							{% for ramtype in form.dramType %}
								<div class="editor-row nopad">
									{{ form_widget(ramtype) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(ramtype) }}
								</div>
							{% endfor %}
							{{ form_errors(form.dramType) }}
						</div>
					</div><!-- Exp. slots and I/O ports -->
					<div class="full-spec edit">
						<div class="full-spec-head" data-controller="collection"><b>I/O ports: </b>{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardIoPorts'} %}</div>
						<div id="motherboardIoPorts-fields-list" data-widget-counter="{{ form.motherboardIoPorts|length }}" data-prototype="
							{{ form_widget(form.motherboardIoPorts.vars.prototype.count, {'attr': {'class': 'num'}} )|e }} x
							{{ form_widget(form.motherboardIoPorts.vars.prototype.io_port, {'attr': {'style': 'width:50%'}} )|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for port in form.motherboardIoPorts %}
								<div class="editor-row nopad">
									{{ form_widget(port.count, {'attr': {'class': 'num'}}) }} x
									{{ form_widget(port.io_port, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(port) }}
							{% endfor %}
							{{ form_errors(form.motherboardIoPorts) }}
						</div>
						<div class="full-spec-head" data-controller="collection"><b>Expansion slots: </b>{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardExpansionSlots'} %}</div>
						<div id="motherboardExpansionSlots-fields-list" data-widget-counter="{{ form.motherboardExpansionSlots|length }}" data-prototype="
							{{ form_widget(form.motherboardExpansionSlots.vars.prototype.count, {'attr': {'class': 'num'}} )|e }} x
							{{ form_widget(form.motherboardExpansionSlots.vars.prototype.expansion_slot, {'attr': {'style': 'width:50%;display:inline'}} )|e  }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for slot in form.motherboardExpansionSlots %}
								<div class="editor-row nopad">
									{{ form_widget(slot.count, {'attr': {'class': 'num'}}) }} x
									{{ form_widget(slot.expansion_slot, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(slot) }}
							{% endfor %}
							{{ form_errors(form.motherboardExpansionSlots) }}
						</div>
					</div><hr><!-- Known issues -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>Known issues:</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'knownIssues'} %}</div>
						<div id="knownIssues-fields-list" data-widget-counter="{{ form.knownIssues|length }}" data-prototype="
							{{ form_widget(form.knownIssues.vars.prototype, {'attr': {'style': 'width:80%'}} )|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for issue in form.knownIssues %}
								<div class="editor-row nopad">
									{{ form_widget(issue, {'attr': {'style': 'width:80%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(issue) }}
							{% endfor %}
							{{ form_errors(form.knownIssues) }}
						</div>
					</div><!-- Notes -->
					<span style="padding-left:10px;"><b>Notes</b></span>
					<div class="notes-field">{{ form_row(form.note) }}</div>		
				</div>
				<!-- DOWNLOADS -->
				<div class="show-downloads" id="sh-downloads">
					<!-- Drivers -->
					<div data-controller="collection">
						<div style="padding-top:5px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="padding: 5px;">
							<b>Drivers: </b>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'drivers'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row drv">
								<div><b>File</b></div>
								<div><b>Recommended</b></div>
							</div>
							<div id="drivers-fields-list" data-widget-counter="{{ form.drivers|length }}" data-prototype="
								<div>{{ form_widget(form.drivers.vars.prototype.largeFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div style=display:flex;justify-content:center;>{{ form_widget(form.drivers.vars.prototype.isRecommended, {'attr': {'style': 'height:18px;width:18px;margin:0;'}} )|e }}</div>
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								" data-controller="collection">
								{% for driver in form.drivers %}
										<div class="editor-row drv nopad">
											<div>{{ form_widget(driver.largeFile, {'attr': {'style': 'width:100%'}} )|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
											<div style="display:flex;justify-content:center;">{{ form_widget(driver.isRecommended, {'attr': {'style': 'height:18px;width:18px;margin:0;'}} ) }}</div>
											{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
										</div>
										{{ form_errors(driver) }}
								{% endfor %}
							</div>
							{{ form_errors(form.drivers) }}
						</div>
					</div><!-- BIOSes -->
					<div data-controller="collection">
						<div style="padding-top:10px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/chip.svg')) }}" alt="" width="32" style="padding: 5px;">
							<b>BIOS images: </b>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardBios'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row bios">
								<div><b>Manuf.</b></div>
								<div><b>POST String</b></div>
								<div><b>Note</b></div>
								<div><b>BIOS Ver.</b></div>
								<div><b>Core Ver.</b></div>
								<div><b>File to upload</b></div>
								<div><b>Uploaded file</b></div>
							</div>
							<div class="append_table" id="motherboardBios-fields-list" data-widget-counter="{{ form.motherboardBios|length }}" data-prototype="
								<div>{{ form_widget(form.motherboardBios.vars.prototype.manufacturer, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.postString, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.note, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.boardVersion, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.coreVersion, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.romFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.file_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								">
							{% for bios in form.motherboardBios %}
								<div class="editor-row bios nopad">
									<div>{{ form_widget(bios.manufacturer, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.postString, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.note, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.boardVersion, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.coreVersion, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.romFile, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.file_name, {'attr': {'style': 'width:100%'}}) }}</div>
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(bios) }}
								</div>
							{% endfor %}
							</div>
						</div>
					</div><!-- Manuals -->
					<div data-controller="collection">
						<div style="padding-top:10px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="padding: 5px;">
							<b>Documentation:</b>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'manuals'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row manual">
								<div><b>Title</b></div>
								<div><b>Language</b></div>
								<div><b>File to upload</b></div>
								<div><b>Uploaded file</b></div>
							</div>
							<div id="manuals-fields-list" data-widget-counter="{{ form.manuals|length }}" data-prototype="
								<div>{{ form_widget(form.manuals.vars.prototype.link_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.manuals.vars.prototype.language, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.manuals.vars.prototype.manualFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.manuals.vars.prototype.file_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for manual in form.manuals %}
								<div class="editor-row manual nopad">
									<div>{{ form_widget(manual.link_name, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(manual.language, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(manual.manualFile, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(manual.file_name, {'attr': {'style': 'width:100%'}}) }}</div>
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(manual) }}
								</div>
							{% endfor %}
							{{ form_errors(form.manuals) }}
							</div>
						</div>
						{{ form_errors(form.manuals) }}
					</div>
				</div>
				<!-- CPUs -->
				<div class="show-cpus" id="sh-cpus"><!-- CPU sockets -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>CPU sockets</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cpuSockets'} %}</div>
						<div id="cpuSockets-fields-list" data-widget-counter="{{ form.cpuSockets|length }}" data-prototype="
							{{ form_widget(form.cpuSockets.vars.prototype, {'attr': {'style': 'width:100%;max-width:220px'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for cpuSocket in form.cpuSockets %}
									<div class="editor-row nopad">{{ form_widget(cpuSocket, {'attr': {'style': 'width:100%;max-width:220px'}}) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
										{{ form_errors(cpuSocket) }}
									</div>
								{% endfor %}
						</div>
						{{ form_errors(form.cpuSockets) }}
					</div><hr><!-- CPU platforms -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>CPU platforms</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'processorPlatformTypes'} %}</div>
						<div id="processorPlatformTypes-fields-list" data-widget-counter="{{ form.processorPlatformTypes|length }}" data-prototype="
							{{ form_widget(form.processorPlatformTypes.vars.prototype)|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for platform in form.processorPlatformTypes %}
									<div class="editor-row nopad">{{ form_widget(platform) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
										{{ form_errors(platform) }}
									</div>
								{% endfor %}
						</div>
						{{ form_errors(form.processorPlatformTypes) }}
					</div><hr><!-- FSB speeds -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>FSB speed</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cpuSpeed'} %}</div>
						<div style="width:100%" id="cpuSpeed-fields-list" data-widget-counter="{{ form.cpuSpeed|length }}" data-prototype="
							{{ form_widget(form.cpuSpeed.vars.prototype)|e }} {% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for speed in form.cpuSpeed %}
									<div class="editor-row nopad">{{ form_widget(speed) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									</div>
									{{ form_errors(speed) }}
							{% endfor %}
						</div>
						{{ form_errors(form.cpuSpeed) }}
					</div><hr><!-- Max CPUs -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Max CPUs</div>
						<div class="editor-row" style="padding:0;display:flex">
							{{ form_widget(form.maxCpu, {'attr': {'style': 'width:25px'}}) }}
								{{ form_widget(form.updateProcessors, {'attr': {'data-action':'click->motherboard--add#updateProcessors', 'style': 'display:inline-block;'}}) }}
							
						</div>
					</div>
					<div id="cpu-wait" style="display:none;">
						<span>Please wait :)</span><img src="{{ absolute_url(asset('build/images/cursor.gif')) }}" alt="" height="24" style="vertical-align: middle;">
					</div>
					<div class="old-cpu-table" data-controller="collection">
						<div style="display:flex;" style="text-align:left">
							<div>CPU</div>
							<button type="button" data-action="click->collection#expandButton" data-list-id="processors-fields-list">Add</button>
							<button type="button" data-action="click->collection#addAllButton" data-list-id="processors-fields-list">Add all CPUs</button>
							<button type="button" data-action="click->collection#clearAllButton" data-list-id="processors-fields-list">Delete all CPUs</button>
							<span id="status-label" style="font-size:0.8em"></span>
						</div>
						<div style="display:flex;" style="text-align:left">
							<div>NPU:</div>
							<button type="button" data-action="click->collection#expandButton" data-list-id="coprocessors-fields-list">Add</button>
							<button type="button" data-action="click->collection#addAllButton" data-list-id="coprocessors-fields-list">Add all NPUs</button>
							<button type="button" data-action="click->collection#clearAllButton" data-list-id="coprocessors-fields-list">Delete all NPUs</button>
						</div>

						<div>
							{{ form_errors(form.processors) }}
							<div style="width:100%" id="processors-fields-list" data-widget-counter="{{ form.processors|length }}" data-prototype="{{ form_widget(form.processors.vars.prototype, {'attr': {'style': 'width:80%'}} )|e }} {% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for processor in form.processors %}
									<div class="editor-row" style="padding:0;">{{ form_widget(processor, {'attr': {'style': 'width:80%'}}) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									</div>
									{{ form_errors(processor) }}
								{% endfor %}
							</div>
						</div>
						<div>
							{{ form_errors(form.coprocessors) }}
							<div style="width:100%" id="coprocessors-fields-list" data-widget-counter="{{ form.coprocessors|length }}" data-prototype="{{ form_widget(form.coprocessors.vars.prototype, {'attr': {'style': 'width:70%'}} )|e }} {% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for coprocessor in form.coprocessors %}
									<div class="editor-row" style="padding:0;">{{ form_widget(coprocessor, {'attr': {'style': 'width:70%'}}) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									</div>
									{{ form_errors(coprocessor) }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- IMAGES -->
		{% include 'macros/entityListImages.html.twig' with {'entityName':'images', 'entities':form.images, 'edit':true} %}
	</div>
	<div style="width:100%;clear:left;"></div>
<div id="hiddenDiv" style="display: none;">{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
