<div class="list-entry centered largefile{% if loop.index is divisible by(2) %} alt{% endif %}">
	<div class="header-label">Name</div>
	<div><a href="{{ path("driver_show", {id: object.getId()}) }}">{{object.getName()}}</a></div>

	<div class="header-label">Version</div>
	<div>{{object.getFileVersion()|length > 0 ? object.getFileVersion()}}</div>


	<div class="header-label">Release date</div>
	<div>{{object.getReleaseDateString()}}</div>

	<div class="header-label">Media type</div>
	<div class="tag-container">
		{% for relation in object.getMediaTypeFlags() %}
			<span class="text-block">
				<span>{{relation.getCount()}}x</span>
				<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="" height="24">
			</span>
		{% endfor %}
	</div>

	<div class="header-label">OS support</div>
	<div class="tag-container">
		{% set prevIcon = "" %}
		{% for relation in object.getOsFlags() %}
			<span class="text-block">
				{% if prevIcon != (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
					<img src="{{ vich_uploader_asset((relation.getOsFlag().getOsFamilies()|sort)[0], 'osIcon')}}" alt="" height="24">
				{% endif %}
				{% set prevIcon = (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
				<span>{{ relation.getOsFlag().getFullVersion()}}
				{% if relation.getUnsure() %}
					?
				{% endif %}</span>
			</span>
		{% endfor %}
	</div>
	
	<div class="header-label">Language</div>
	<div class="tag-container">
		{% for lang in object.getLanguages() %}
			<span class="text-block">
				<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" height="20"
					alt="{{ lang.getIsoCode }}" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
				<span>{{ lang.getIsoCode|upper }}</span>
			</span>
		{% endfor %}
	</div>

	<div class="header-label">Dump quality</div>
	<div class="tag-container">
		<span class="text-block">
			<img src="{{ asset('build/icons/quality/' ~ object.dumpQualityFlag().getTagName() ~ '.svg') }}"
				alt="{{ object.dumpQualityFlag().getTagName() }}" height="24">
			<span>{{ object.dumpQualityFlag().getTagName()|capitalize }}</span>
		</span>
	</div>

	<div class="header-label">Copy protection</div>
	<div class="tag-container">
		{% set protLvl = 0 %}
		{% if object.hasActivationKey() %}
			<span class="text-block">
				<img src="{{ asset('build/icons/protection/activation_key.svg') }}" alt="" height="24">
				<span>Activation key</span>
			</span>
			{% set protLvl = 1 %}
		{% endif %}
		{% if object.hasCopyProtection() %}
			<span class="text-block">
				<img src="{{ asset('build/icons/protection/copy_protected.svg') }}" alt="" height="24">
				<span>Copy protection</span>
			</span>
			{% set protLvl = 2 %}
		{% endif %}
		{% if protLvl == 0 %}
			<span class="text-block">
				None or unknown
			</span>
		{% endif %}
	</div>

	<div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./files/largefiles/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" height="24"><span>Edit</span></a>
    </div>
</div>
