{% extends 'base.html.twig' %}

{% block opengraph %}<style>div.page {width: 98% !important;}</style>{% endblock %}
{% block title %}Manage {{ entityDisplayNamePlural }}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'files',
		'path':'files', 
		'set':{'largefile':'Large Files','osfamily':'OS Families','osflag':'OS Flags','mediatype':'Media Types'}
	} %}
{% endblock %}
